@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
  background-color: #111827;
}

.main:before {
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);

  filter: blur(100px) saturate(150%);

  opacity: 0.15;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

* {
  @apply text-white;
}

.app {
  @apply h-full relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.indigo_btn {
  @apply rounded-md px-4 py-3 text-sm font-semibold text-neutral-100 shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 border-[#6B7AFF] bg-[#6B7AFF]  transition-all hover:bg-[#5662CC] text-center flex items-center justify-center;
}

.outline_btn {
  @apply rounded-md px-3 py-2 font-semibold text-indigo-400 shadow-sm border-[#6B7AFF] bg-transparent ring-1 ring-inset ring-indigo-500 hover:bg-neutral-900/50;
}

.next-auth-provider-name-google {
  @apply w-[90%] bg-white flex items-center justify-center rounded-lg my-2 text-sm  outline-0 px-3 py-2 font-semibold shadow-sm border-white ring-offset-white ring-white;
}

.oauth_text {
  @apply mx-3 text-neutral-900 capitalize text-base;
}

.head_text {
  @apply mt-5 text-4xl font-extrabold leading-[1.15] sm:text-5xl;
}

.indigo_gradient {
  @apply bg-gradient-to-br from-[#6b7aff] via-[#7197FC] to-[#80dff4] bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg text-indigo-200 sm:text-xl max-w-2xl;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
  @apply rounded-xl  bg-transparent shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5 ring-1 ring-inset ring-indigo-500;
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_container {
  @apply max-sm:w-full max-md:w-[80%] max-lg:w-[70%] w-[40%] h-full px-5 py-10 flex items-center justify-center flex-col;
}
.form_title {
  @apply text-center font-satoshi font-bold text-3xl mb-4;
}
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-neutral-300 outline-0
  bg-transparent ring-1 ring-inset ring-indigo-500;
}

.form_input {
  @apply w-full bg-neutral-900/50 flex rounded-lg my-2 text-sm text-neutral-100 outline-0 px-3 py-3 font-semibold shadow-sm border-[#6B7AFF] ring-1 ring-inset ring-indigo-500;
}

.form_label {
  @apply font-satoshi font-semibold text-base text-neutral-300 mt-8;
}

.form_btn {
  @apply flex justify-center my-5 rounded-lg hover:bg-indigo-500 transition-all;
}
.form_btn_outline {
  @apply px-5 py-1.5 text-sm rounded-full text-white transition-all ease-in-out hover:ring-1 hover:ring-inset hover:ring-indigo-500 font-medium;
}

/* Nav Component */
.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-[#232640] min-w-[210px] flex flex-col gap-2 justify-start items-start;
}

.dropdown_link {
  @apply text-sm font-inter text-neutral-100 hover:text-gray-300 font-medium;
}

/* PromptCard Component */
.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border-indigo-500 bg-indigo-500/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit ring-1 ring-inset ring-indigo-500;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}
